html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif; /* Fonte principal */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #314a6b;
}

main {
    margin-top: .1rem;
    display: flex;
    flex-direction: column;
    padding: .02rem;
    height: 100%;
    overflow: scroll;
}


/* Ajustos do Carrossel */
.carrossel{
    height: 100%;
    width: 20%;
    background-color:#6ba3eb;
    overflow: hidden;
    position: relative;
    top: .1rem;
    left: 0;
    padding: 40%;
}
/* Ajuste das Imagens do Anúncio no Carrossel */
.imgban {
    width: 98%; 
    height: 96%;
    position: absolute; 
    /* Só funciona se tiver um relative antes*/
    top: 2%;
    left: 1%;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}

/* Define quais serão as imagens do Carrossel de Anúncios */
.carrossel #imgban3 {
    background-image: url(../img/saxo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carrossel #imgban2 {
    background-image: url(../img/vocalista_copia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carrossel #imgban1 {
    background-image: url(../img/dj3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ver_perfil {
    position: absolute;
    bottom: 8%;
    left: 4%;
    padding: .2rem 1rem;
    background-color:#314a6b;
    font-size: 28px;
    font-weight: bold;
    color:white;
    z-index: 6000;
    border: 1px solid white;


}
/* Configuração dos Títulos nos Anúncios */
.carrossel .imgban-box h2 {
    font-size: 36px;
    font-weight: bold;
    text-shadow:4px 4px black;    
    color: white;
    
}

/* Subtítulo */
.carrossel .imgban-box p {
    padding-top: .2rem;
    font-size: 20px;
    text-shadow:4px 4px black;    
    color: #314a6b;
}

/* Posicionamento do anúncio em cada imagem */

.carrossel .imgban-box {
    position: absolute;
    left: 1.5rem;
    top: 2rem;
    float: right;
}



/* ======== Ajuste do Storyline ======= */
/* Título Seção */
.titulo_secao{
    margin-top: 1.5rem;
    font-size: 20px;
    color: #547fb8;
    font-size: larger;
    margin-left: .6rem;
}
/* Story */
.storyline{
    display:flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: .5rem 1rem 0 1rem;
}

/* Ajuste do Post */
.post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    background-color: #b5ceeeb9;
    border-radius: .4rem;
    padding: .4rem;
    font-size: 16px;
    justify-content: space-between;
    
}
.cabecalho_post{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
}
.cabecalho_post img{
    margin: .4rem .8rem .4rem .5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
}

.info_autor{
    display:flex;
    flex-direction: column;
}
.Nome{
    font-weight: bold;
    font-size: larger;
}
.info_gerais{
    font-style: italic;
    font-size: small;
}
.conteudo_post{
    padding: .2rem;
    font-family: 'Roboto Slab', serif; /* fonte para Textos Longos */
}
.link{
    color: #314a6b;
    font-style: oblique;
}
.video{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 10rem;
    margin:.3rem 0 0 3rem;
}

.botoes_interacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .4rem;

}

.botao_curtir{
    height: 2rem;
    width: 2rem;
    margin: .1rem .5rem .1rem .1rem;
}

.botao_comentar{
    height: 2rem;
    width: 2rem;
    margin: .1rem .5rem .1rem 1rem;

}
/* ===================================== */
.loading{
    font-style: oblique;
    font-size: small;
    align-self: center;
}
.loading_img{
    align-self: center;
    width: 2rem;
    height: 2rem;
}

/* ----------------------------------------- */
/* Ajuste do MENU */
.BOTOES_MENU{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4rem;
    width: 100%;
    justify-content: space-evenly;
    padding: .1rem;
    background-color: white;
    border-top: .05rem solid black;
}

/* Ajuste dos ÍCONES DO MENU  */
.menu{
    display:flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu a img{
    width: 2rem;
    height: 2rem;
}

a {
    text-decoration: none;
    color: black;
}
.botao_add{
    position: fixed;
    height: 4rem;
    width: 4rem;
    right: 1rem;
    bottom: 5.5rem;
}
.botao_nova_postagem{
    display: none;
}
.botao_novo_anuncio{
    display: none;
}

.botao_nova_postagem img{
    position: fixed;
    background-color: #547fb8;
    height: 2.5rem;
    width: 2.5rem;
    bottom: 10rem;
    right: 1.5rem;
    border-radius: 1.5rem;
}

.botao_nova_postagem .comando {
    position: fixed;
    background-color: #547fb8;
    padding: .2rem .8rem;
    right: 4.5rem;
    bottom: 10.5rem;
    border-radius: .5rem;
    color: black;
    font-weight: bold;
}
.botao_novo_anuncio img{
    position: fixed;
    background-color:  #547fb8;
    height: 2.5rem;
    width: 2.5rem;
    bottom: 14rem;
    right: 1.5rem;
    
    border-radius: 1.5rem;
}
.botao_novo_anuncio .comando {
    position: fixed;
    background-color: #547fb8;
    padding: .2rem .8rem;
    right: 4.5rem;
    bottom: 14.5rem;
    border-radius: .5rem;
    color: black;
    font-weight: bold;
}
/* ------------------------------------------- */
h1 {
    color: white;
    font-size: 1.7rem;
}


