html {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

a {
    display: block;
    padding: 0rem .6rem;
    text-decoration: none;
}

img {
    width: 2.5rem;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    background-color: #314A6B;
    text-align: center;
}

h1 {
    align-self: center;
    color: white;
    font-size: 1.7rem;
    width: calc(100% - 7rem);
}

main {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.3rem;
}

form {
    display: flex;
    flex-direction: column;
}

/* configurando inputs */
input {
    border: none;
    border-bottom: .1rem solid #515D6B;
    margin-top: .3rem;
}

input[type='number'] {
    color: #314a6b;
    font-weight: bolder;
}

/* margens e tamanhos do texto */
p, label {
    font-size: 1.2rem;
    margin-top: 1rem;
}

/* cor do valor antigo */
p.valor-atual {
    color: #314a6b;
    font-weight: bold;
}

.texto {
    font-size: 1.1rem;
    text-align: justify;
}

/* configurações dos botões */
.botoes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.botao-on {
    align-self: center;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: #314a6b;
    border-radius: .7rem;
}

.botao-off {
    align-self: center;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: #515d6b;
    border-radius: .7rem;
}

.cancelar {
    align-self: center;
    padding: .6rem 1rem;
    font-size: 1.1rem;
    border-radius: .7rem;
    border: .2rem solid #314A6B;
}