html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #314a6b;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    padding: .5rem;
}

#Capa{
    position: fixed;
    top: 0rem;
    left: 0rem;
    bottom: 15vh;
    width: 100vw;
}

#BackButton{
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
}

#Perfil{
    position: fixed;
    top: 15%;
    left: 1%;
    margin: 0rem;
}

#Perfil img{
    width: 8rem;
    height: 7rem;
    border: 0.3rem solid black;
    border-radius: 15rem;
}

#Perfil div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 0.3rem solid black;
    font-size: 0.6rem;
    padding: auto;
    background-color:  #b5ceee;
}

.button{
    position: fixed;
    top: 25%;
    left: 70%;
    font-size: 1.5rem;
    cursor: pointer;
    background-color:  #b5ceee;
    border: 0.1rem solid black;
    padding: 0.3rem;
}

div{
    font: black;
    border: 0.1rem solid black;
    margin: .1rem;
    padding: .5rem;

}

#feed{
    position: relative;
    top: 17vh;
    width: 90%;
    background-color: #6ba3eb;
}

/* seções com as tags de habilidade e estilo */
.habilidades, .estilos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 1.5rem 0;
    background-color: #b5ceee;
}

/* tags de habilidades e estilos */
.tag {
    margin: .3rem;
    padding: .2rem .7rem;
    border: 0.1rem solid black;
    border-radius: .3rem;
}


/* margens gerais */
.descricao, .fotos, .videos, .depoimentos {
    margin: 1.5rem 0 0 0;
    background-color: #b5ceee;
}